@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-white-color: #ffffff;
  --background-h-f-color: #2f303a;
  --background-minor-color: #f5f4fa;
  --background-color-icons: #afb1b8;
  --linear-gradient-color: rgba(47, 48, 58, 0.8);
  --cubic-bezier: (0.4, 0, 0.2, 1);
}

body {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*  загальні стилі до списків */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* загальні стилі до силок */
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* Стилі до скривающихся заголовків */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--text-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo__dark {
  color: var(--title-text-color);
}

.logo__light {
  color: var(--text-white-color);
}

/***************** section******************* */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle__icon-menu {
  fill: var(--title-text-color);
}

.menu-toggle__icon-menu:hover,
.menu-toggle__icon-menu:focus {
  fill: var(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--text-white-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--title-text-color);
}

.menu-container {
  overflow: scroll;
}

.mobil-container {
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .mobil-container {
    padding-left: 40px;
  }
}

.mobile-menu {
  margin-bottom: 302px;
  padding-top: 48px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  display: block;
  color: var(--title-text-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

.mobile-contacts {
  display: block;
  margin-bottom: 64px;
}

.mobile-contacts__item__tel {
  margin-bottom: 32px;
}

.contacts-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mobile-contacts__tel {
  font-size: 34px;
  line-height: 1;
  color: var(--accent-color);
}

.mobile-contacts__mail {
  font-size: 24px;
  line-height: 1.16;
  color: var(--primary-text-color);
}

.mobile-social {
  display: flex;
  width: 100%;
}

.mobile-social__item {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}
.mobile-social__item:last-child {
  border-right: 0;
  margin-right: 0;
  padding: 0;
}

.mobile-social__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mobile-social__link {
    font-size: 18px;
  }
}

.page-header {
  position: relative;
  background-color: var(--text-white-color);
  border-bottom: 1px solid #ececec;
}

.page-header__main {
  display: flex;
  align-items: center;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

/* styles do site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item {
  display: flex;
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link {
  position: relative;
}

.site-nav__link__current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__item {
    margin-bottom: 10px;
  }
  .auth-nav__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__item {
    margin-bottom: 0;
    margin-left: 50px;
  }
  .auth-nav__item:first-child {
    margin-left: 0;
  }
}

.auth-nav__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .auth-nav__link {
    display: flex;
    align-items: center;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.auth-nav__envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.auth-nav__smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--background-h-f-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-tel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-tel-x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-tab-x2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-desc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-desc-x2.jpg);
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border: transparent;
}

.features {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.features__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-minor-color);
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  text-align: left;
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

.section__novpading-top {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section__novpading-top {
    display: none;
  }
}

.works {
  display: flex;
}

.works__item {
  position: relative;
  width: 370px;
  height: 294px;
}

.works__container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: var(--linear-gradient-color);
}

.works__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-white-color);
}

.works__item {
  margin-left: 30px;
}
.works__item:first-child {
  margin-left: 0;
}

.section__azur-background {
  background-color: var(--background-minor-color);
}

.team {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  background-color: var(--text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
  }
}

.team__img {
  width: 100%;
}

.team__container {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 16px;
}

/***************** network *************/
.network {
  display: flex;
  justify-content: center;
  text-align: center;
}

.network__item {
  margin-left: 10px;
}
.network__item:first-child {
  margin-left: 0;
}

.network__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--background-color-icons);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.network__link:hover, .network__link:focus {
  background-color: var(--accent-color);
  fill: var(--text-white-color);
}

.network__icon {
  width: 20px;
  height: 20px;
}

.section__title {
  text-align: center;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .customers {
    margin: -15px;
  }
}

@media screen and (max-width: 479px) {
  .customers__item {
    width: calc(100% - 60px)/2;
    margin: 15px;
  }
}
@media screen and (min-width: 480px) {
  .customers__item {
    width: calc(100% - 60px)/2;
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: calc((100% - 180px) / 6);
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  fill: var(--background-color-icons);
  border: 1px solid var(--background-color-icons);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .customers__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}

.customers__svg {
  width: 106px;
  height: 60px;
}

.filter-list {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .filter-item {
    margin-bottom: 30px;
  }
  .filter-item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .filter-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.filter-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--primary-text-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.filter-link:hover, .filter-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-link:hover .filter-overlay {
  transform: translateY(0);
}

.filter-images {
  position: relative;
  overflow: hidden;
}

.filter-img {
  margin: 0;
}

.filter-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-images-text {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--text-white-color);
}

.filter-container {
  flex-grow: 1;
  padding: 20px 24px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

.filter-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter-text {
  font-size: 16px;
  line-height: 1.87;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .navigation-list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-list {
    margin-bottom: 50px;
  }
}

.navigation-item {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .navigation-item {
    margin-right: 8px;
    margin-bottom: 15px;
  }
  .navigation-item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .navigation-item {
    margin-left: 8px;
  }
  .navigation-item:first-child {
    margin-left: 0;
  }
}

.m-bottom {
  margin-bottom: 0;
}

.navigation-button {
  border: none;
  margin: 0;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.navigation-button:hover, .navigation-button:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: no-scroll;
  background: rgba(0, 0, 0, 0.2);
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  overflow: scroll;
  background: var(--text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 450px) {
  .modal-window {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
}

.modal-button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  justify-content: center;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.modal-button:hover, .modal-button:focus {
  fill: var(--accent-color);
}

.modal-svg {
  top: 8px;
  right: 8px;
  border: none;
  width: 18px;
  height: 18px;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.modal-form {
  display: block;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-container {
  position: relative;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  outline: none;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.modal-container:focus-within .modal-form-svg {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.form-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

/* -----------------checkbox-------------- */
.checkbox-h {
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
}
.checkbox-h:focus + .icon {
  border-color: var(--accent-color);
  background-image: url(../images/icon\ check1.svg);
  border-style: contain;
  background-origin: border-box;
}

.label-checkbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 5px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  flex-shrink: 0;
}
@media screen and (min-width: 1200px) {
  .icon {
    margin-right: 8px;
  }
}

.span-checkbox {
  font-size: 12px;
  line-height: 1.16;
}
@media screen and (min-width: 1200px) {
  .span-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.link-checkbox {
  font-size: 12px;
  line-height: 1.16;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .link-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

/* -----------------button-submit----------------- */
.button-submit {
  display: flex;
  margin: 0 auto;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
  background-color: var(--background-h-f-color);
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    text-align: left;
    align-items: baseline;
  }
}

.address {
  font-style: normal;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .address {
    width: 232px;
  }
}

.address-list {
  margin-top: 20px;
}

@media screen and (min-width: 480px) {
  .address-item {
    margin-top: 9px;
  }
  .address-item:first-child {
    margin-top: 0;
  }
}

.address-general {
  font-size: 14px;
  line-height: 1.71;
}

.address-maps {
  color: var(--text-white-color);
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}

.second-footer {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .second-footer {
    margin: 0;
  }
}

.title-icon {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-white-color);
}

.footer-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-list-item {
  margin-left: 10px;
}
.footer-list-item:first-child {
  margin-left: 0;
}

.footer-link-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--text-white-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}
.footer-link-icon:hover, .footer-link-icon:focus {
  background-color: var(--accent-color);
  fill: var(--text-white-color);
}

.footer-icon {
  width: 20px;
  height: 20px;
}

/* -------------------Подпишитесь--------------- */
.third-footer {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .third-footer {
    margin: 0;
  }
}

.footer-label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-white-color);
}

@media screen and (min-width: 1200px) {
  .footer-btn-form {
    display: flex;
  }
}

.footer-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: var(--text-white-color);
  background-color: var(--background-h-f-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-input:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .footer-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
    margin: 0;
    margin-right: 12px;
  }
}

.footer-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.footer-button:hover, .footer-button:focus {
  background-color: var(--accent-color);
}
.footer-button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/envelope-f.svg);
  background-size: contain;
}/*# sourceMappingURL=main.css.map */