@import './utils/vars';

@import './base/coment-style';
@import './base/reset';

@import './components/button';
@import './components/logo';
@import './components/section';
@import './components/container.scss';

@import './page-heder/header';
@import './page-heder/mob-button';
@import './page-heder/mob-menu';
@import './page-heder/site-nav';
@import './page-heder/auth-nav';

@import './layout/hero';
@import './layout/features';
@import './layout/work';
@import './layout/team';
@import './layout/customers';

@import './layout/filter';
@import './layout/filter-nav';

@import './layout/moda';
@import './layout/modal-form';

@import './footer/footer';
@import './footer/second-footer';
@import './footer/third-footer';
