.features {
  text-align: center;
  @media screen and (min-width: 760px) {
    display: flex;
    flex-wrap: wrap;

    margin: -15px;
  }
}

.features__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.features__container {
  height: 120px;

  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;

  background-color: var(--background-minor-color);
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align-last: left;
  }
}

.features__text {
  text-align: left;
  font-size: 14px;
  line-height: 1.71;

  margin-top: 0;
  margin-bottom: 0;
}
