.features {
  display: flex;
}

.features__container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: var(--background-minor-color);
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__item {
  margin-left: 30px;
  &:first-child {
    margin-left: 0;
  }
}

.features__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;

  margin-top: 0;
  margin-bottom: 0;
}
