.filter-list {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin: -15px;
  }
}

.filter-item {
  max-width: 370px;
  margin-bottom: 30px;

  @media screen and (min-width: 760px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.filter-link {
  display: flex;
  flex-direction: column;
  height: 100%;

  color: var(--primary-text-color);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.filter-link:hover .filter-overlay {
  transform: translateY(0);
}

.filter-images {
  position: relative;
  overflow: hidden;
}

.filter-img {
  margin: 0;
}

.filter-overlay {
  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-images-text {
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;

  color: var(--text-white-color);
}

.filter-container {
  flex-grow: 1;
  padding: 20px 24px;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

.filter-title {
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.filter-text {
  font-size: 16px;
  line-height: 1.87;
}
