.hero {
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;

  padding-top: 118px;
  padding-bottom: 118px;

  text-align: center;

  background-color: var(--background-h-f-color);

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img-tel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Header-tel-x2.jpg);
  }

  @media screen and (min-width: 768px) {
    padding-top: 118px;
    padding-bottom: 118px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-img-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/Header-tab-x2.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-img-desc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/header-desc-x2.jpg);
    }
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--text-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;

  border: transparent;
}
