.auth-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.auth-nav__item {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-left: 50px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.auth-nav__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  fill: var(--primary-text-color);

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin: 0;

    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
  }
}

.auth-nav__envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.auth-nav__smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
