.menu-toggle {
    display: inline-flex;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
}

.mob-button .mob-button__cross {
    display: none;
}

.mob-button.js-open-menu .mob-button__cross {
    display: block;
}

.mob-button.js-open-menu .mob-button__menu {
    display: none;
}