////////////// стилі до списку mobile-menu //////////////
.mobil-container {
  padding-left: 15px;

  @media screen and (min-width: 480px) {
    padding-left: 40px;
  }
}

.mobile-menu {
  margin-bottom: 302px;
  padding-top: 48px;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  display: block;
  color: var(--title-text-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.active {
  color: var(--accent-color);
}

///////////// mobile-contacts ////////////////
.mobile-contacts {
  display: block;

  margin-bottom: 64px;
}

.mobile-contacts__item__tel {
  margin-bottom: 32px;
}

.contacts-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.mobile-contacts__tel {
  font-size: 34px;
  line-height: 1;

  color: var(--accent-color);
}

.mobile-contacts__mail {
  font-size: 24px;
  line-height: 1.16;

  color: var(--primary-text-color);
}

///////////// mobile-social ////////////////
.mobile-social {
  display: flex;
  width: 100%;
}

.mobile-social__item {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  &:last-child {
    border-right: 0;
    margin-right: 0;
    padding: 0;
  }
}

.mobile-social__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-color);

  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}
