// .mobile-menu {
//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 100%;
//   height: 500px;

//   background-color: rgb(169, 223, 198);
// }

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  background-color: tomato;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
