/* styles do site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;

    @media screen and (max-width: 767px) {
    display: none;
  }
}

.site-nav__item {
  display: flex;
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link {
  position: relative;
}

.site-nav__link__current::after {
  content: '';
  position: absolute;

  width: 100%;
  height: 4px;

  bottom: 0;
  left: 0;

  background-color: var(--accent-color);
  border-radius: 2px;
}
