.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  // align-items: baseline;
  background-color: var(--background-h-f-color);
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.first-footer {
  // flex-grow: 1;
  width: 232px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-right: 149px;
    margin-bottom: 60px;
    margin-left: 61px;
  }
}

.address {
  font-style: normal;
  margin-right: 0;

  @media screen and (min-width: 768px) {
    width: 232px;
  }
}

.address-list {
  margin-top: 20px;
}

.address-item {
  @media screen and (min-width: 480px) {
    margin-top: 9px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.address-general {
  font-size: 14px;
  line-height: 1.71;
}

.address-maps {
  color: var(--text-white-color);
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}
