.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  // align-items: baseline;
  background-color: var(--background-h-f-color);
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    text-align: left;

    margin-left: 76px;
  }
}

.first-footer {
  // flex-grow: 1;
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    width: 232px;
  }
}

.address {
  display: flex;
  font-style: normal;
  margin-right: 0;

  @media screen and (min-width: 768px) {
    width: 232px;
  }
}

.address-list {
  margin-top: 20px;
}

.address-item {
  margin-top: 9px;
  &:first-child {
    margin-top: 0;
  }
}

.address-general {
  font-size: 14px;
  line-height: 1.71;
}

.address-maps {
  color: var(--text-white-color);
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}
