/* -------------------Подпишитесь--------------- */
.third-footer {
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-self: center;

  @media screen and (min-width: 1200px) {
    text-align-last: left;
    margin: 0;
  }
}

.footer-label {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--text-white-color);
}

.footer-btn-form {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-input {
  width: 450px;
  height: 50px;

  padding-left: 16px;
  margin-bottom: 20px;

  color: var(--text-white-color);
  background-color: var(--background-h-f-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  
  &:focus {
    border-color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin: 0;
    margin-right: 10px;
  }
}

.footer-button {
  display: block;

  margin-left: auto;
  margin-right: auto;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &::after {
    content: '';
    width: 24px;
    height: 24px;


    background-image: url(../images/envelope-f.svg);
    background-size: contain;
  }
}
