/***************** section******************* */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  margin-bottom: 50px;

  text-align: center;
}
