/***************** section******************* */
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;

  margin-bottom: 30px;

  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;

    margin-bottom: 50px;
  }
}
