:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-white-color: #ffffff;
  --background-h-f-color: #2f303a;
  --background-minor-color: #f5f4fa;
  --background-color-icons: #afb1b8;
  --linear-gradient-color: rgba(47, 48, 58, 0.8);
  --cubic-bezier: (0.4, 0, 0.2, 1);
}
